body {
	font-family: "Courier New", Courier, monospace;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


:root {
	--primary1: #869DAB;
	--primary2: #847072;
	--secondary1: #DCC1B0;
	--secondary2: #3D313F; 
}
		/* Style the header */
			.header {
			  background-color: white;
			  padding: 30px;
			  text-align: center;
			  color: white;
			  font-size: 35px;
			}



		ul.sidenav {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  width: 25%;
		  z-index:1;
		  background-color: black;
		  position: -webkit-sticky; /* Safari */
  			position: sticky;
  			top: 0;
		  height: 100%;
		  overflow: auto;
		}

		ul.sidenav li a {
		  display: block;
		  color: white;
		  padding: 8px 16px;
		  text-decoration: none;
		}
		 
		ul.sidenav li a.active {
		  background-color: var(--primary1);
		  color: white;
		}

		ul.sidenav li a:hover:not(.active) {
		  background-color: var(--primary1);
		  opacity: .5;
		  color: white;
		}

		div.content {

		  margin-left: 15%;
		  margin-right: 15%;
		  margin-bottom: 20%;
		  width: 70%;
		}

		/* Style the footer */
			.footer {
			  background-color: var(--secondary1);
			  padding: 10px;
			  text-align: center;
			}

			img {
			  max-width: 100%;
			  height: auto;
			}

		@media screen and (max-width: 100000px) {
		  ul.sidenav {
		    width: 100%;
		    height: auto;
		    position: -webkit-sticky; /* Safari */
  			position: sticky;
  			top: 0;
		  }
		  
		  ul.sidenav li a {
		    float: left;
		    padding: 15px;
		  }

		}

		@media screen and (max-width: 400px) {
		  ul.sidenav li a {
		    text-align: center;
		    float: none;
		    position: -webkit-sticky; /* Safari */
  			position: sticky;
  			top: 0;
		  }
		  div.content {
		  	margin-left:5%;
		  	margin-right:5%;
		  	width: 90%;
		  }
		}

		h1 {
		font-size: 8vw;
		font-weight: normal;
		}
		@media screen and (min-width:500px) {
			h1 {
				font-size: 40px;
			}
		}

		h2 {
		font-size: 3vw;
		font-weight: normal;
		}
		@media screen and (min-width:500px) {
			h2 {
				font-size: 15px;
			}
		}
		@media screen and (min-width:600px) {
			div.content {
				width: 420px;
				margin-left: auto;
				margin-right: auto;
			}

		}

		h3 {
			text-align: center;
		}

		.buttonsh {
		  background-color: var(--primary1);
		  border: none;
		  color: white;
		  width: 100px;
		  height: 30px;
		  text-align: center;
		  font-size: 12px;
		  font-family: "Courier New", Courier, monospace;";
		  margin: 2px 1px;
		  opacity: 1;
		  transition: 0.1s;
		  display: inline-block;
		  text-decoration: none;
		  cursor: pointer;
		}

		.buttonsh:hover {opacity: 1}

		.buttonsh:active {
		  
		}

		.buttonsh:focus {
		  outline: none;
		}

		.buttonrs {
		  background-color: var(--secondary1);
		  border: none;
		  color: black;
		  width: 100px;
		  height: 30px;
		  text-align: center;
		  font-family: "Courier New", Courier, monospace;";
		  font-size: 12px;
		  margin: 2px 1px;
		  opacity: 1;
		  transition: 0.1s;
		  display: inline-block;
		  text-decoration: none;
		  cursor: pointer;
		}

		.buttonrs:hover {opacity: 1}

		.buttonrs:active {

		}

		.buttonrs:focus {
		  outline: none;
		}

		a {
			color: var(--primary1);
		}

		a:active {
		  color: var(--primary1);
		  font-weight: bold;

		}

		.rotateimg90 {
		  -webkit-transform:rotate(90deg);
		  -moz-transform: rotate(90deg);
		  -ms-transform: rotate(90deg);
		  -o-transform: rotate(90deg);
		  transform: rotate(90deg);
		}

		div.left{
			text-align: justify;
			width: 50%; 
			float: left;
		}

		div.right{
			width: 50%; 
			float: right;
		}

		@media screen and (max-width: 400px) {
			div.left{
				width: 100%;
				float: none;
			}
			div.right{
				padding: 50px;
				width: 100%;
				float: none;
			}
		}

		.switch {
		  position: relative;
		  display: inline-block;
		  width: 60px;
		  height: 34px;
		}

		.switch input { 
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		svg{
		  width:30%;
		  max-width: 200px;
		  margin:0 auto;
		}
		#hex{
		  stroke-width:2;
		  stroke: var(--primary1);
		  fill-opacity:0.6;
		  transition:fill-opacity .8s;
		}
		#hex:hover{
		  fill-opacity:1;
		}
		#text{
		  stroke-width:0.5;
		  stroke: var(--primary1);
		  fill-opacity:0.4;
		  fill:teal;
		  transition:fill-opacity .8s;
		}
		#hex:hover + #text{
		  fill-opacity:1;
		}

		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: var(--secondary1);
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color: var(--primary1);
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}


